<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mediaplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/main_label"
        android:roundIcon="@mipmap/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SongActivity"
            android:label="@string/song_playing_label" />
        <activity
            android:name=".Activities.BandDetailActivity"
            android:label="Band Details"></activity>
        <activity
            android:name=".Activities.SongDetailActivity"
            android:label="Song Details"></activity>
        <activity
            android:name=".Activities.PayActivity"
            android:label="Payment"></activity>
    </application>

</manifest>